<script>
$(function(){


	$("#people").hover(
		function(e){
			$("#box").html("");
			$("#box").html("People");
			$("#box").css("display","box");
			$("#box").css("left",e.pageX);
			$("#box").css("top",e.pageY);
			}
		,
		function(){
			$("#box").css("display","none");
		}
	);
	
	$("#keywords").hover(
		function(e){
			$("#box").html("");
			$("#box").html("Keywords");
			$("#box").css("display","box");
			$("#box").css("left",e.pageX);
			$("#box").css("top",e.pageY);
		}
		,
		function(){
			$("#box").css("display","none");
		}
	);
	
	$("#search").hover(
		function(e){
			$("#box").html("");
			$("#box").html("Search");
			$("#box").css("display","box");
			$("#box").css("left",e.pageX);
			$("#box").css("top",e.pageY);
			}
		,
		function(){
			$("#box").css("display","none");
		}
	);
	
});
</script>
<div id="box" style="position:absolute; display:none; width:50px; height:20px; background:#ee0"></div>
	<div id="page">
		<div class="bgtop">
			<div class="bgbtm">
				<!-- start content -->
				<div id="content">
					<div class="post">
						<h1 class="title">Search of People and Keywords</h1>
						<div class="entry">
							<p>
								<strong>
									<a href="/test/people" id="people"><img src= "/assets/people.jpg" alt="" width="131" height="131" class="left" /></a>
									<a href="/test/keywords" id="keywords"><img src=	"/assets/keywords.png" alt="" width="131" height="131" class="left" /></a>
									<a href="#" id="search"><img src="/assets/search.png" alt="" width="131" height="131" class="left" /></a>
								</strong> 
							</p>
						</div>
						<!--p class="meta"><a href="#" class="more">Search</a></p-->
					</div>
				</div>
				
				<!-- end sidebar -->
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>
<div id="footer">
	<p>&copy;2014 All Rights Reserved &nbsp;&bull;&nbsp; Design by <a href="#">Dhruvil Patel</a> &nbsp;&bull;&nbsp; Icons by <a href="#">Dhruvil Patel</a>.</p>
</div>
