
	<div id="page">
		<div class="bgtop">
			<div class="bgbtm">
				<!-- start content -->
				<div id="content">
					<div class="post">
						<h1 class="title">Search of People and Keywords</h1>
						<div class="entry">
							<p>
								<strong>
									<a href="/test/people"><img src="/images/img05.jpg" alt="" width="131" height="131" class="left" /></a> 
									<a href="/test/keywords"><img src="/images/img05.jpg" alt="" width="131" height="131" class="left" /></a>
									<img src="/images/img05.jpg" alt="" width="131" height="131" class="left" />
								</strong> 
							</p>
						</div>
						<!--p class="meta"><a href="#" class="more">Search</a></p-->
					</div>
				</div>
				
				<!-- end sidebar -->
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>
<div id="footer">
	<p>&copy;2014 All Rights Reserved &nbsp;&bull;&nbsp; Design by <a href="#">Dhruvil Patel</a> &nbsp;&bull;&nbsp; Icons by <a href="#">Dhruvil Patel</a>.</p>
</div>
