<div id="header">
	<h1>KEYWORDS SECTION</h1>
	<p> design By Dhruvil Patel</p>
</div>
<!-- end header -->

<div id="box" style="position:absolute; display:none; width:50px; height:20px; background:#ee0"></div>
	<div id="page">
		<div class="bgtop">
			<div class="bgbtm">
				<!-- start content -->
				<div id="content">
				
					<div class="post">
						<h1 class="title">KEYWORDS SECTION</h1>
						<div class="entry">
							<p>
								<strong>
									<a href="#" id="create">Create</a>
									<a href="#" id="read">Read</a>
									<a href="#" id="update">Update</a>
									<a href="#" id="delete">Delete</a>
									<a href="/test/index">back</a>
								</strong> 
							</p>
						</div>
						<!--p class="meta"><a href="#" class="more">Search</a></p-->
					</div>
				</div>
				
				<!-- end sidebar -->
				<div style="clear:both">&nbsp;</div>
			</div>
		</div>
	</div>
<div id="footer">
	<p>&copy;2014 All Rights Reserved &nbsp;&bull;&nbsp; Design by <a href="#">Dhruvil Patel</a> &nbsp;&bull;&nbsp; Icons by <a href="#">Dhruvil Patel</a>.</p>
</div>





<script>
$(function(){
	$("#create").click(function(){
	});
	$("#read").click(function(){
	});
	$("#update").click(function(){
	});
	$("#delete").click(function(){
	});
});
</script>