<h1>KEYWORDS SECTION</h1>
<a href="#" id="create">Create</a>
<a href="#" id="read">Read</a>
<a href="#" id="update">Update</a>
<a href="#" id="delete">Delete</a>

<script>
$("#create").click(function(){
});
$("#read").click(function(){
});
$("#update").click(function(){
});
$("#delete").click(function(){
});
</script>