<h1>PEOPLE SECTION</h1>
<a href="#" id="create">Create</a>
<a href="#" id="list">list</a>
<a href="#" id="update">Update</a>
<a href="#" id="delete">Delete</a>
<a href="/test/index">back</a>

<script>
$("#create").click(function(){
});
$("#list").click(function(){
});
$("#update").click(function(){
});
$("#delete").click(function(){
});
</script>