<!DOCTYPE html>
<html>
<head>
  <title>Search</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link href="/assets/style.css?body=1" rel="stylesheet" type="text/css" media="screen" />
	<meta name="keywords" content="" />
	<meta name="description" content="" />
  </head>
<body>

<%= yield %>

</body>
</html>
